@model IEnumerable<ContosoUniversity.Models.Course>

@{
    ViewData["Title"] = "课程";
}

<h2>课程</h2>

<p>
    <a asp-action="Create">新增课程</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseID">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseID">详情</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseID">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>